@media screen and (max-width: 1086px) {
  body {
    width: 100%;
  }
}

@media screen and (max-width: 480px) {
  body {
    width: 100%;
  }
  .entete {
    display: block;
    box-sizing: border-box;
  }
  .logo {
    padding-top: 10px;
    margin: 0%;
    padding-left: 16px;
  }
  nav {
    box-sizing: border-box;
    width: 100%;
  }
  .menu {
    margin: 0%;
  }
  .menu ul {
    display: flex;
    justify-content: center;
    width: 100%;
    margin: 0%;
    padding: 0%;
    padding-top: 10px;
  }
  nav li .static {
    border-top: none;
    left: 0px;
    width: 100%;
    padding: 10px;
    border-bottom: 3px solid #0065fc;
    color: #0065fc;
  }
  nav li .static-transparent:hover {
    border-top: none;
  }
  nav li .static-transparent {
    padding: 0px;
    left: 0px;
    width: 100%;
    padding: 10px;
    border-bottom: 3px solid #f2f2f2;
    border-top: none;
  }
  .menu li {
    display: flex;
    width: 100%;
  }
  .inscription {
    display: flex;
    position: relative;
    bottom: 77px;
    justify-content: flex-end;
    padding: 0px;
    border-top: none;
    padding-right: 16px;
  }
  section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0px;
    margin: 15px;
  }
  .barre-de-recherche {
    padding: 0%;
  }
  #search {
    width: 100%;
  }
  .txt-top {
    margin: 0%;
    overflow: hidden;
    font-size: 12px;
  }
  .txt-top p {
    margin-top: 8px;
  }
  .txt-top h1 {
    margin-top: 0%;
  }
  .info {
    padding: 0%;
  }
  .info p {
    padding: 0%;
    padding-left: 4px;
    overflow: hidden;
  }
  input#bouton-recherche {
    display: none;
  }
  .loupe i::before {
    font-size: 15px;
  }
  .loupe {
    display: flex;
    background-color: #0065fc;
    color: white;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    font-size: 17px;
    width: 50px;
    height: 45px;
    cursor: pointer;
    border: unset;
    align-items: center;
    justify-content: center;
  }

  .filtre {
    align-items: flex-start;
    flex-wrap: wrap;
    flex-direction: column;
  }

  .border {
    margin: 7px;
  }

  #hebergements-section {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    padding: 0%;
  }

  .hebergements {
    width: 90%;
    display: flex;
    flex-direction: row;
    background: none;
    margin: 0px;
    padding: 0px;
  }
  .div-photo {
    display: flex;
    flex-direction: column;
  }
  .carte-hebergement {
    width: 90%;
  }
  .carte-hebergement img {
    width: 100%;
    height: 8em;
  }
  .populaire {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin: 0%;
    padding: 0px;
  }
  .populaire .titre-populaire {
    justify-content: space-between;
    padding-left: 15px;
    padding-right: 15px;
  }
  .block-carte {
    align-items: center;
  }
  .carte-populaire {
    width: 80%;
  }
  #activites {
    display: flex;
    width: 100%;
    margin: 0%;
    align-items: center;
    justify-content: center;
    padding: 0%;
  }
  #activites h2 {
    font-size: 18px;
  }
  .section-block {
    display: flex;
    flex-direction: column;
    width: 85%;
  }
  .activite-petite {
    margin-bottom: 15px;
  }
  .activite-moyenne {
    margin-bottom: 15px;
  }
  .activite-grande {
    margin-bottom: 15px;
  }
  .speciale-div {
    justify-content: space-between;
  }
  .activite-petite img {
    width: 100%;
    height: 8em;
    object-fit: cover;
  }
  .activite-moyenne img {
    width: 100%;
    height: 8em;
  }
  .activite-grande img {
    width: 100%;
    height: 8em;
  }
  footer {
    flex-direction: column;
    padding: 0px;
  }
}
