@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap');
/* cdn google pour recuperer les fonts*/
body{
    font-family: 'Raleway', sans-serif;
    margin: auto;
    max-width: 1024px;
}
/*
.entete{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 15px;
    
}
.logo{
    width: 6em;
}
nav{
    width: 40%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}
nav a:hover{
    color:#0065FC;
    border-top: 3px solid ;
    padding-top: 28px;
}   
a{
  text-decoration: none;
  font-size: 1.1em;
  color: #615D59;
}
 li{
    list-style-type: none;
    display: inline; 
    justify-content: space-between; 
    padding: 35px; 
}

.texte, h1{
    font-size: 1.4em;
    padding-top: 10px;
}
.texte, p{
    font-size: 1em;
    
}
.inscription{
    position: relative;
    font-weight: bold;
    color:#0065FC; 
    padding-left: 45px;  
}
section{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
.barre{
    display: flex;
   align-items: center;
}
.bottom{
    width: 120px;
    height: 50px;  
    background-color: #0065FC;
    color: white;
    font-weight: lighter;
    font-size: 1.3em;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom-right-radius: 12px;
    border-top-right-radius: 12px;
}
.marseille{
    width: 200px;
    height: 48px;  
    border: #e6dfdf solid transparent;
    background-color:white;
    color:black ;
    font-weight: bold;
    font-size: 1em;
    display: flex;
    justify-content: center;
    align-items: center;
    border:1px solid grey ;
}
*/
/* Footer*/
footer{
    background-color: #F2F2F2;
    display: flex;
    flex-direction: row;  
     padding: 15px;
}
.footer-block h3{
    padding-left: 45px;
    font-size: 13px;   
}
.footer-block ul{
    list-style-type: none;  
}
.footer-block a{
    font-size: 12px;
    text-decoration: none;
    color: black;   
}
.footer-block li {
    display: flex;
    padding: 4px;
}
.footer-block{

    flex: 1;
}
a:hover{
    color: #0065FC;
}  
/* Section Activités*/                                                   
.section-block{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding-bottom: 45px;
    margin: auto;
    
}
.activitésblock h2{
    display: flex;
    flex-direction: row;
    font-size: 15px;
    padding-left: 30px;
    
}
.grande1 img{
    display: flex;
    flex-direction: column;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
     height: 300px;
    width: 230px;
}
.grande1{
    display: flex;
    flex-direction: column;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    box-shadow: 2px 8px 5px #F2F2F2 ;
    object-fit: cover;
}  
.petite1{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.grande2{
    display: flex;
    flex-direction: column;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    box-shadow: 3px 6px 2px #F2F2F2 ;
    
}
.grande2 img{
    height: 300px;
    width: 220px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    object-fit: cover;
}
.petite2{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.section-block p{
    font-size: 12px;
    font-weight: bold;
    padding-left: 7px;
}

 .block1 img{
    width: 220px;
    height: 150px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    object-fit: cover;
}
.block1 p{
    padding-bottom: 6px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    box-shadow: 3px 6px 2px #F2F2F2 ;
}
.block2 img{
   
    width: 220px;
    height: 80px;
    object-fit: cover;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
   
}
.block2 p{
    padding-bottom: 6px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    box-shadow: 3px 6px 2px #F2F2F2 ;
}
.block3 img{
    width: 220px;
    height: 100px;
    object-fit: cover;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}
.block3 p{
    padding-bottom: 6px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    box-shadow: 3px 6px 2px #F2F2F2 ;
}
.block4 img{
    width: 220px;
    height: 120px;
    object-fit: cover;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}
.block4 p{
    padding-bottom: 6px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    box-shadow: 3px 6px 2px #F2F2F2 ;
}
