@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap");
/* cdn google pour recuperer les fonts*/
body {
  font-family: "Raleway", sans-serif;
  margin: auto;
  max-width: 1024px;
}
/* Footer*/

footer {
  background-color: #f2f2f2;
  display: flex;
  flex-direction: row;
  padding: 15px;
}
.footer-block h3 {
  padding-left: 17px;
  font-size: 13px;
}
.footer-block ul {
  list-style-type: none;
  padding-left: 13px;
}
.footer-block a {
  font-size: 11px;
  text-decoration: none;
  color: black;
}
.footer-block li {
  display: flex;
  padding: 4px;
}
.footer-block {
  flex: 1;
}
a:hover {
  color: #0065fc;
}

/* Section Activités*/

.section-block {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding-bottom: 45px;
  margin: auto;
}
.activitesblock h2 {
  display: flex;
  flex-direction: row;
  font-size: 16px;
  padding-left: 30px;
  padding-bottom: 6px;
}
.activite-grande img {
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  height: 300px;
  width: 230px;
}
.activite-grande p {
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}
.activite-grande img {
  height: 300px;
  width: 220px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  object-fit: cover;
}
.section-block p {
  font-size: 12px;
  font-weight: bold;
  padding-left: 10px;
}
.section-block a {
  text-decoration: none;
  color: black;
}
.activite-moyenne img {
  width: 220px;
  height: 140px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  object-fit: cover;
}
.activite-petite img {
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  width: 220px;
  height: 90px;
  object-fit: fill;
}
.activite-petite p {
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}
.activite-grande {
  display: flex;
  flex-direction: column;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  box-shadow: 1px 2px 6px rgba(170, 169, 169, 0.12),
    0 3px 3px rgba(139, 138, 138, 0.24);
  object-fit: cover;
  transition: 300ms;
}
.activite-moyenne {
  display: flex;
  flex-direction: column;
  box-shadow: 1px 2px 6px rgba(170, 169, 169, 0.12),
    0 3px 3px rgba(139, 138, 138, 0.24);
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  transition: 300ms;
}
.activite-petite {
  display: flex;
  flex-direction: column;
  box-shadow: 1px 2px 6px rgba(170, 169, 169, 0.12),
  0 3px 3px rgba(139, 138, 138, 0.24);
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  transition: 300ms;
}
.speciale-div {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.activite-grande:hover {
  filter: brightness(1.3);
  z-index: 2;
  box-shadow: 1px 1px 12px #0065fc79;
  transform: scale(1.05);
}
.activite-moyenne:hover {
  filter: brightness(1.3);
  z-index: 1;
  box-shadow: 1px 1px 12px #0065fc79;
  transform: scale(1.05);
}
.activite-petite:hover {
  filter: brightness(1.3);
  z-index: 1;
  box-shadow: 1px 1px 12px #0065fc79;
  transform: scale(1.05);
}

.activite-petite:active {
  transition: 250ms;
  opacity: 0.8;
}
.activite-grande:active {
  transition: 250ms;
  opacity: 0.8;
}
.activite-moyenne:active {
  transition: 250ms;
  opacity: 0.8;
}
.section-block a:active {
  color: #0065fc;
  transition: 250ms;
}
/* Main */

#hebergements-section {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: auto;
  align-items: center;
}
#hebergements-section a {
  text-decoration: none;
  color: black;
  font-size: 13px;
}
.etoiles {
  color: #0065fc;
  padding: 7px;
  display: flex;
  flex-direction: row;
  font-size: 10px;
}
.etoile-gris {
  color: #5e5e5f59;
}
span {
  font-weight: bolder;
}

/* hebergement */

.hebergements {
  display: flex;
  justify-content: center;
  border-radius: 15px;
  background-color: #f2f2f2;
  width: 60%;
  padding: 18px;
  margin: 18px;
}
.hebergements h3 {
  padding-left: 15px;
}
.div-photo {
  display: flex;
  flex-direction: row;
}
.carte-hebergement {
  display: flex;
  flex-direction: column;
  box-shadow: 1px 2px 6px rgba(170, 169, 169, 0.12),
    0 3px 3px rgba(139, 138, 138, 0.24);
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  padding: 4px;
  background-color: white;
  margin: 9px;
  transition: 300ms;
}
.carte-hebergement strong {
  font-size: 14px;
  padding-left: 6px;
  padding-top: 3px;
}
.carte-hebergement p {
  padding-left: 4px;
  font-size: 12px;
  margin: 3px;
}
.carte-hebergement img {
  width: 180px;
  height: 100px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  object-fit: cover;
}

.afficher-plus a{
  font-size: 14px;
  color: black;
  font-weight: bold;
  display: block;
  align-items: flex-end;
  text-decoration: none;
  padding: 15px;
  width: 78px;
}

.carte-hebergement a {
  color: black;
}
.carte-hebergement:hover {
  z-index: 1;
  box-shadow: 1px 1px 12px #0065fc79;
  transform: scale(1.05);
  filter: brightness(1.2);
}

/* Populaire*/

.populaire {
  display: flex;
  background: #f2f2f2;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  margin: 14px;
  padding: 13px;
}
.populaire-block {
  display: flex;
  flex-direction: column;
  border-radius: 15px;
}
.block-carte {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.carte-populaire {
  display: flex;
  flex-direction: row;
  margin: 13px;
  transition: 300ms;
  padding: 4px;
  background-color: white;
  box-shadow: 1px 2px 6px rgba(170, 169, 169, 0.12),
    0 3px 3px rgba(139, 138, 138, 0.24);
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}
.carte-populaire img {
  width: 100px;
  height: 112px;
  border-bottom-left-radius: 15px;
  border-top-left-radius: 15px;
  object-fit: cover;
}
.texte p {
  margin-top: 4px;
  padding-left: 10px;
  font-size: 11px;
}
.texte {
  display: flex;
  flex-direction: column;
  font-size: 13px;
  justify-content: center;
}
.texte .etoiles {
  padding-left: 12px;
  font-size: 9px;
}
.texte strong {
  font-size: 14px;
  padding-top: 3px;
  padding-left: 10px;
}
.all {
  display: flex;
  flex-direction: row;
  width: 250px;
}
.titre-populaire {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}
.titre-populaire i {
  font-size: 18px;
}

.carte-populaire a {
  color: black;
}
.carte-populaire:hover {
  z-index: 1;
  box-shadow: 1px 1px 12px #0065fc79;
  transform: scale(1.05);
  filter: brightness(1.2);
}
/* HEADER */
.entete {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.logo {
  display: flex;
  width: 90px;
  height: 40px;
  margin-left: 15px;
}
nav ul {
  display: flex;
  margin: 0%;
}
.menu li {
  display: flex;
  list-style-type: none;
}
.menu {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
nav li .static {
  border-top: 2px solid #0065fc;
}
nav li .static-transparent {
  border-top: 2px solid #ffffff;
}
.menu .inscription {
  color: #0065fc;
  font-weight: bold;
  text-decoration: none;
  font-size: 14px;
  padding-left: 30px;
  position: sticky;
  padding-right: 20px;
}
nav a {
  list-style: none;
  justify-content: center;
  display: flex;
  align-items: center;
  font-size: 14px;
  color: #615d59;
  padding: 39px 30px;
  text-decoration: none;
}
.txt-top {
  margin-left: 15px;
}
.txt-top h1 {
  margin: 0%;
  margin-top: 20px;
  font-size: 20px;
}
.txt-top p {
  margin-top: 6px;
  font-size: 14px;
}
.barre-de-recherche {
  display: flex;
  flex-direction: row;
  margin-top: 25px;
  margin-bottom: 25px;
  padding-left: 15px;
}
.icone i {
  display: flex;
  font-size: 18px;
}
.icone {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #f2f2f2;
  width: 50px;
  height: 45px;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
}
#search {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding-left: 15px;
  width: 180px;
  height: 41px;
  border: 1px solid #f2f2f2;
  font-weight: bold;
}
#search::placeholder {
  color: black;
  font-weight: bold;
  font-size: 15px;
}
input[type="text"]:focus {
  outline: none;
}
#bouton-recherche {
  background-color: #0065fc;
  color: white;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  font-size: 17px;
  width: 120px;
  height: 45px;
  cursor: pointer;
  border: unset;
}
.filtre {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.border i {
  color: #0065fc;
  background: #deebff;
  height: 45px;
  width: 45px;
  border-radius: 45px / 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 45px;
}
.border {
  margin-right: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  border: 2px solid #a09f9f5b;
  height: 42px;
  border-radius: 45px / 45px;
  border-left: transparent;
}
.border p {
  padding-left: 10px;
  padding-right: 10px;
  margin: 5px;
  font-weight: bold;
}
.filtre strong {
  padding-right: 5px;
  margin: 17px;
}
.info {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-left: 15px;
}
.info i {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 11px;
  color: #0065fc;
  border: 1px solid #c5c5c5;
  height: 20px;
  width: 20px;
  border-radius: 20px / 20px;
}
.info p {
  padding: 13px;
  font-size: 14px;
}
#bouton-recherche:hover{
  background-color: #0066ffbd;
}
nav li .static-transparent:hover {
  color: #0065fc;
  border-top: 2px solid #0065fc;
}
.border:hover {
  transition: 600ms;
  background-color: #deebff;
  color: #0065fc;
  cursor: pointer;
}
.border i:hover {
  filter: drop-shadow(0 0 0.75rem rgb(6, 87, 238));
  transition: 500ms;
  background-color: #0065fc;
  color: #deebff;
  cursor: pointer;
}
